
.home {
    background: url(../Assets/ladingDogs.jpg)
        center center/cover no-repeat fixed;
    height: 100%;
}

.link-home{
    text-decoration: none;
    color: #fff;
}

.home-title {
    margin-top: 40px;
}


.home-btn {
    margin-top: 20px;
    background-color: #1e90ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.home-select {
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #020E26;
    background: transparent;
    cursor: pointer;
    height: 40px;
    width: 200px;
}

.home-select:focus {
    outline: none;
}

.home-select option {
    background: #fff;
    color: #000;
}

/* cards mas pequeñas y que entren perfecto en la pantalla sin necesidad de hacer scroll horizontal */
/* el grid deben ser 2 lineas de 4 elementos*/
.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    text-decoration: none;

}
